@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import 'fonts/fontawesome.css';
@import 'fonts/brands.css';
@import 'variables.css';

body {
    background-color: var(--orange);
    margin: 0px;
    font-family: 'Roboto',
        sans-serif;
}

h3,
ul,
p {
    margin: 0px;
    padding: 0px;
    list-style: none;
}



#top_header h1 {
    font-size: 100px;
    text-align: center;
    color: white;
    animation: fadeEnter 0.6s ease-in-out 0.3s both;

}

main {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.container_card {
    width: 25vw;
    min-width: 250px;
    max-width: 400px;
    margin: 0 20px;
    background-color: var(--purple);
    box-shadow: 0px 0px 10px var(--gray);
    transition: 0.6s;
}

.container_card:nth-child(1) {
    animation: fadeEnter 1s ease-in-out 0.6s both;
}

.container_card:nth-child(2) {
    animation: fadeEnter 1s ease-in-out 1.2s both;
}

.container_card:nth-child(3) {
    animation: fadeEnter 1s ease-in-out 1.8s both;
}


.container_card:hover {
    transform: scale(1.1);
}

.container_info {
    background-color: white;
    padding: 40px;
    text-align: center;

}

.container_info img {
    width: 120px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.container_info h3 {
    font-size: 20px;
    margin-bottom: 20px;
}

.container_info ul {
    display: flex;
    justify-content: center;
}

.container_info li {
    min-width: 40px;
    min-height: 40px;
    background-color: var(--gray);
    text-align: center;
    border-radius: 50%;
    margin: 5px;
    transition: background-color 0.5s ease;
}

.hotel-booking:hover {
    background-color: #8a232a;
}

.container_info li:hover {
    background-color: var(--dark_gray);
}

.container_info i {
    font-size: 25px;
    line-height: 40px;
    color: white;
}

.container_bio {
    padding: 20px;
    color: white;
}

.container_bio p {
    padding-bottom: 20px;
}

@keyframes fadeEnter {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Media Querie */
@media screen and (max-width: 800px) and (orientation: portrait) {
    main {
        display: block;
        margin: auto;

    }

    .container_card {
        width: 90vw;
        min-width: none;
        max-width: none;
        margin-bottom: 40px;
    }
}