@import 'normalize.css';

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 100%;
    max-width: 800px;
    min-width: 400px;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    margin-bottom: 10px;
}

#name:focus,
#email:focus {
    outline: 1px solid red;
}

input:required {
    border: 1px solid red;
}


fieldset {
    background-color: #eaeaea;
    padding: 1rem;
    margin-bottom: 10px;
}

fieldset:hover {
    background-color: #d4d2d2;
}

fieldset:first-of-type {
    border-bottom: 5px solid black;
}

fieldset:last-of-type {
    border-bottom: 5px solid black;
}

label {
    display: block;
}

input {
    width: 100%;
}

button {
    background-color: black;
    color: white;
    border: 0px;
    padding: 10px;
}