@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
    margin: 0px;
    font-family: 'Roboto',
        sans-serif;
    font-weight: 400;
    line-height: 1.5;
}

h1,
h2,
h3,
ul {
    margin: 0px;
    padding: 0px;
}

#top_header {
    background-color: black;
    padding: 50px;
}

#top_header h1 {
    color: white;
    font-weight: 700;
    font-size: 48px;
    margin-top: 40px;
    margin-bottom: 20px;
}

#top_header h2 {
    color: white;
    font-weight: 400;
    font-size: 36px;
    margin-bottom: 10px;
}

#top_header p {
    color: white;
}

main {
    min-width: 50vw;
    max-width: 70vw;
    margin: auto;

}

#text_section header,
#form_section header {
    padding-top: 20px;
    border-bottom: 1px solid #6F6F6F;
}

h3 {
    color: #6F6F6F;
    font-weight: 700;
    font-size: 30px;
    padding-bottom: 10px;
}

#text_section {
    position: relative;

}

.photo_aside img {
    float: right;
    width: 20vw;
    max-width: 220px;
    padding-left: 20px;
}

#form_section ul {
    list-style: none;

}

#form_section label {
    display: block;
    font-size: 14px;
    font-weight: 700;
    padding-top: 20px;
    margin-bottom: 10px;
}

#form_section input,
textarea {
    width: 100%;
    box-sizing: border-box;
    background-color: #6F6F6F;
    color: white;
    border: 0;
    padding: 10px;
}

#form_section textarea {
    height: 200px;
}

#send_button {
    width: 100px;
    background-color: black;
    color: white;
    font-size: 14px;
    border: 0px;
    padding: 10px;
    margin: 10px 0 20px 0
}

/* Media Querie */
@media screen and (max-width: 800px) and (orientation: portrait) {
    .photo_aside img {
        float: none;
        width: 100%;
        max-width: 100%;
        padding: 20px 0;
    }

    #top_header {
        text-align: center;
    }

    #send_button {
        margin: 10px 0 100px 0
    }
}