@import 'normalize.css';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');


.lista li:last-child {
    background-color: rgb(150, 200, 232);
}

.lista li:nth-child(odd) {
    text-decoration: underline solid #6ae76d;
}

.lista li {
    display: inline;
    padding-right: 10px;
}


.lista li:nth-child(1):after {
    content: url('/img/emoji_happy.png');
    padding-left: 5px;
    vertical-align: middle;
}

.lista li:nth-child(2):after {
    content: url('/img/emoji_love.png');
    padding-left: 5px;
    vertical-align: middle;
}

.lista li:nth-child(3):after {
    content: url('/img/emoji_tongue.png');
    padding-left: 5px;
    vertical-align: middle;
}

.lista li:nth-child(4):after {
    content: url('/img/emoji_sad.png');
    padding-left: 5px;
    vertical-align: middle;
}

.lista li:nth-child(5):after {
    content: url('/img/emoji_angry.png');
    padding-left: 5px;
    vertical-align: middle;
}

.lista li:nth-child(6):after {
    content: url('/img/emoji_dead.png');
    padding-left: 5px;
    vertical-align: middle;
}


.lista li:nth-child(4):lang(en) {
    font-size: 32px;
    text-transform: uppercase;
}

#provincias li {
    list-style: upper-roman;
}

#provincias li:nth-child(2) {
    list-style: none;
}